<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Fabrication" %></title>
    <link rel='icon' type='image/png' href='/images/favicon.png' />
    <link href='https://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Palanquin' rel='stylesheet' type='text/css' />
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "syntax" %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" %>
    <%= javascript_include_tag "snap" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <%= partial 'gem' %>

    <header id='site_head'>
      <div class='title'>
        <h1 class='drawing'>Fabrication</h1>
      </div>

      <h2>simple and powerful object generation for Ruby</h2>
    </header>

    <nav id='site_nav'>
      <a href='#' class='nav_toggle'>Navigation</a>

      <ul></ul>
    </nav>

    <main class='copy'>
      <%= yield %>
    </main>

    <footer id='site_foot'>
      <p>
        site design by
        <a href='https://www.camerondaigle.com'>Cameron Daigle</a>
        for
        <a href='https://hashrocket.com'>Hashrocket</a>
      </p>
    </footer>
  </body>
</html>
